<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fetch.interests.js}"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Архитектор высоких нагрузок. Задание 1 "Социальная сеть".</h1>
        </div>
        <table id="allMovies" class="table table-striped">
            <thead>
            <tr>
                <th width="20%">First name</th>
                <th width="20%">Sur name</th>
                <th width="5%">Age</th>
                <th width="5%">Sex</th>
                <th width="12%">City</th>
                <th>Interest</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="user: ${friends}">
                <td>[[${user.firstName}]]</td>
                <td>[[${user.surName}]]</td>
                <td>[[${user.age}]]</td>
                <td>[[${user.sex}]]</td>
                <td>[[${user.city}]]</td>
                <td>
                    <div th:id="'interest-' + ${user.id}"></div>
                    <div hidden="hidden">[[${user.id}]]
                        <script>findAllInterest([[${user.id}]]);</script>
                    </div></td>
            </tr>
            </tbody>
        </table>
    </div>


    <form sec:authorize="isAuthenticated()" class="form-application" method="get" action="/user/application">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Home page</button>
    </form>

    <form sec:authorize="isAuthenticated()" class="form-application" method="post" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>

</div>
</body>