<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/opportunity-of.js}"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Архитектор высоких нагрузок. Задание 1 "Социальная сеть".</h1>
        </div>

        <form sec:authorize="isAuthenticated()" class="form-application" method="get" action="/user/application">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Home page</button>
        </form>

        <form class="form-registration" id="registration" method="get" action="/registration.html">
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Registration</button>
        </form>
        <!-- script sec:authorize="isAuthenticated()">
            document.getElementById("href-registration").style.pointerEvents = "none";
            document.getElementById("href-registration").style.cursor = "default";
            document.getElementById("href-registration").style.display = "none";
        </script -->

        <form sec:authorize="isAuthenticated()" class="form-application" method="post" action="/logout">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
        </form>
    </div>

</div>
</body>